<div class="mb-3 d-flex border-bottom pb-3">
    <a class="btn btn-primary" href="/patients/new">Nuevo paciente</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sesiones</th>
            <th>Profesional</th>
        </tr>
    </thead>
    <tbody>
        {{#each patients as |patient|}}
            <tr>
                <td>
                    <a href="/patients/{{ patient._id }}">
                        {{ patient.name }}
                    </a>
                </td>
                <td>??</td>
                <td>{{ patient.user.name }}</td>
            </tr>
        {{/each}}
    </tbody>
</table>