<h2 class="mb-5">Nuevo profesional</h2>

<form method="POST" action="/users">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input name="name" type="text" class="form-control" placeholder="Nombre del profesional"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" placeholder="Email del profesional"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" placeholder="Contraseña"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Teléfono</label>
    <input name="phoneNumber" type="text" class="form-control" placeholder="Teléfono"/>
  </div>

  <button type="submit" class="btn btn-success">Crear</button>
</form>